xsd/taxDoc.xsd

<?xml version="1.0" encoding="GB2312"?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by xdowns.com (xdowns.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:complexType name="taxDoc" abstract="true">
		<xs:attribute name="version" type="xs:string" use="optional" default="SW5001-2006"/>
		<xs:attribute name="name" type="xs:string" use="required"/>
		<xs:attribute name="cnName" type="xs:string" use="required"/>
	</xs:complexType>
</xs:schema>
